#one{
    text-align: center;
}
#two{
    text-align: center;
}
#three{
    text-align: center;
}
body{
    text-align: center;
    font-family: "Arial";
    background: orange;
    color: blue;
}
h1{
    text-align: center;
}